<section>
  <form>
    <input type="text" placeholder="Filter by city" #filter1>

    <label>
    Solo viviendas disponibles<input type="checkbox" #filter2 >
    </label>
    <label>
      Ordenar:
      <select class="ordenar" #filter3>
        <option id="asc">ascendente</option>
        <option id="desc">descendente</option>
      </select>
    </label>
    <button class="primary" type="button" (click)="filterResults(filter1.value, filter2.checked, filter3.value)">Search</button>
  </form>

  <div style="margin-top: 20px; text-align: right;">
    <a [routerLink]="['/add']" class="primary" style="text-decoration: none; padding: 10px;">+ Add New House</a>
  </div>

</section>
<section class="results">
  @for (housingLocation of filteredLocationList; track housingLocation.id) {
    <app-housing-location [housingLocation]="housingLocation"></app-housing-location>
  }
</section>
